.wrapper {
    
    max-width: 1470px;
    min-height: 185px;
    margin: auto;
    font-family: "Rubik", "Tahoma", sans-serif;
    line-height: 1.42857143;
    font-size: 0.95em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
  }
  
  @media (max-width: 1597px) {
    .wrapper {
      max-width: 1290px;
    }
  }
  
  @media (max-width: 1349px) {
    .wrapper {
      max-width: 1140px;
    }
  }
  
  @media (max-width: 1179px) {
    .wrapper {
      max-width: 940px;
    }
  }
  
  @media (max-width: 988px) {
    .wrapper {
      max-width: 720px;
    }
  }
  
  @media (max-width: 766px) {
    .wrapper {
      width: 100%;
    }
  }